
<mat-toolbar>
Sign Up!!!
</mat-toolbar>

<form>
	<div>
		<mat-form-field>
			<input type="text" matInput name="firstName" placeholder="First Name" />
		</mat-form-field>
	</div>
	<div>
		<mat-form-field>
			<input type="text" matInput name="lastName" placeholder="Last Name" />
		</mat-form-field>
	</div>
	<div>
		<mat-radio-group>
			<mat-radio-button name="gender" value="male"> Male </mat-radio-button> &nbsp;
			<mat-radio-button name="gender" value="female"> Female </mat-radio-button>
		</mat-radio-group>
	</div>
	<div>
		<mat-form-field>
			<input matInput type="email" name="email" placeholder="Email" />
		</mat-form-field>
	</div>
	<div>
		<mat-form-field>
			<textarea matInput name="address" rows="3" cols="30" placeholder="address"></textarea>
		</mat-form-field>
	</div>
	<div>
		<mat-form-field>
			<mat-select name="areaInterest" placeholder="Area of Interest:">
        <mat-option *ngFor="let interest of interests" [value]="interest.value">
          {{interest.viewValue}}
        </mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div>
		<button mat-raised-button color="primary" type="submit">REGISTER</button>
	</div>
</form>